.aboutus{
    position: absolute;
    color:white;
    font-size:40px;
    font-weight: bold;
    top:50%;
    left:40%;
}

.whoweare{
    text-align: justify;
    width:85%;
    min-width:500px;
    margin:0px auto;
}

.whoweare div{
    padding:10px 0px;
}

.parallax {
    min-height: 1000px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}