a{
    text-decoration: none;
    color:white;
}

.social-media-icon{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
