.social-media{
    background: #001529;
}

.social-text{
    color: white;
}

.social{
    padding:23px auto;
}

.social-para{
    padding-left: 200px;
    padding-right: 200px;
    font-size: 15px; 

}

.social-button{
    /* border: 1px solid #ffde00 ; */
    background-color: #ffde00;
    color: white;
    padding: 8px 20px 8px 20px;
    font-size: 12px;
    text-decoration-style: solid;
    box-shadow: 0px 1px 3px #373737;

}